<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<div id="container">
    
        <div class="iconos">
            <button (click)="deseos()"><i class="fa-solid fa-heart"></i></button>
            <button (click)="carrito()"><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
        <div class="iconos">
            <a href="/"><h1>ModelA</h1></a>
            <a href="/"><img src="assets/logoModelAoscuro.png" alt="Logo ModelA"></a>
        </div>
        <div class="iconos">
            <button (click)="perfil()"><i class="fa-solid fa-user"></i></button>
            <button><i class="fa-solid fa-bars"></i></button>
        </div>
</div>
