@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.margen {
   margin-top:80px;
}

.bienvenida{
    width: 100%;
    height: 100%;
    background-color: #332a51;
    align-items: start;      /* Si no quieres centrar verticalmente */
    text-align: center;
    margin: 0;
}

.productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.producto {
    max-height: 380px;
    overflow: hidden;
    width: 250px;
    background: linear-gradient(to bottom, #d6dbf1, #f7f8fd);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(132, 131, 131, 0.2);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.vacio {
    text-align: center;
    margin-top: 50px;
}

.vacio img {
    width: 250px;
    opacity: 0.8;
}

.vacio p {
    font-family:'Fredoka' ;
    font-weight: 500;
    color: #6d74a0;
    font-size: 30px;
}

.especificaciones{
    background-color: #fdf7f7;
    border-radius: 20px;
    
}
.especificaciones h3{
    font-family: 'Poppins';
    padding-top: 15px;
    text-align: left;
    padding-left: 15px;
    color: #332a51;
    margin: 0;
}

.especificaciones p{
    font-family: 'Poppins';
    font-weight: 400;
    padding-top: 15px;
    text-align: left;
    padding-left: 15px;
    color: #8991c3;
    margin: 0;
    margin-bottom: 10px;
}

.productos i{
    text-align: right;
    color: #332a51;
    margin: 0;
    padding: 5px;
    font-size: 30px;
}

.producto button{
    background: none;  /* Elimina el color de fondo */
    border: none;  /* Opcional: elimina el borde */
    color: inherit; /* Mantiene el color del texto según el contexto */
    cursor: pointer; /* Mantiene la apariencia de botón */

}
.producto button:hover{
    background: none;  /* Elimina el color de fondo */
    border: none;  /* Opcional: elimina el borde */
    color: inherit; /* Mantiene el color del texto según el contexto */
    cursor: pointer; /* Mantiene la apariencia de botón */

}

.card-header {
    display: flex;
    justify-content: flex-end; 
}
.card-footer {
    display: flex;
    justify-content: space-between; /* Precio a la izquierda, carrito a la derecha */
    align-items: center;
}

.carrito {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}


.home{
    display: flex;
    margin: 0;
    width: 100%;
}

.fondo h1{
    font-family: 'Fredoka';
    font-size: 60px;
    padding-top:60px;
    color: #d9d9f0;
}
.fondo i{
    color:  #d9d9f0;
    margin: 0;
    font-size: 30px;
}

.fondo button{
    border-radius: 100px;
    padding: 25px;
    background-color:#332a51;
    border:5px solid #d9d9f0;
    margin-bottom: 50px;
}